<!doctype html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width-device-width, initial-scale-1.0">
  <link rel="stylesheet" type="text/css" href="/src/styles.css">
  <title>DermoWebApp - Registro</title>
</head>
<body>
          <div class="formulario">
              <h1>Crea tu cuenta</h1>
              <form [formGroup]="usuarioForm" (ngSubmit)="registrarUsuario()">
                <div class="form-group">
                  <div class="username">
                    <input formControlName="nombre" type="text" class="form-control">
                    <label for="nombre" class="col-lg-3 col-form-label">Correo electrónico</label>
                  </div>
                  <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('nombre')?.hasError('required') && usuarioForm.get('nombre')?.touched">
                    Debe ingresar un usuario para registrarse
                  </div>
                  <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('nombre')?.hasError('maxlength')">
                    El usuario no debe exceder los 50 carácteres
                  </div>
                </div>
                <div class="form-group">
                  <div class="username">
                    <input formControlName="password" type="password" class="form-control">
                    <label for="password" class="col-lg-3 col-form-label">Contraseña</label>
                  </div>
                  <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('password')?.hasError('required') && usuarioForm.get('password')?.touched">
                    Debe ingresar una contraseña para registrarse
                  </div>
                  <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('password')?.hasError('maxlength')">
                    La contraseña no debe exceder los 50 carácteres
                  </div>
                  <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('password')?.hasError('minlength')">
                    La contraseña debe tener más de 4 carácteres
                  </div>
                </div>
                <div class="form-group">
                  <div class="username">
                    <input formControlName="confirmPassword"  type="password" class="form-control">
                    <label for="confirmPassword" class="col-lg-3 col-form-label">Confirmar contraseña</label>
                  </div>
                  <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('confirmPassword')?.hasError('required') && usuarioForm.get('confirmPassword')?.touched">
                    Debe ingresar una contraseña para registrarse
                  </div>
                  <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('confirmPassword')?.hasError('maxlength')">
                    La contraseña no debe exceder los 50 carácteres
                  </div>
                  <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('confirmPassword')?.hasError('minlength')">
                    La contraseña debe tener más de 4 carácteres
                  </div>
                  <div class="alert alert-danger my-3" *ngIf="usuarioForm.get('confirmPassword')?.value !== usuarioForm.get('password')?.value">
                    Las contraseñas no coinciden
                  </div>
                </div>
                <div class="enviar">
                  <button  type="submit" class="btn btn-primary col-8" [disabled]="!usuarioForm.valid || usuarioForm.get('confirmPassword')?.value !== usuarioForm.get('password')?.value">Registrate</button>
                </div>
                <div class="inicio">
                  <p><input type="checkbox">Al registrarse acepta los <a href="/">terminos y condiciones</a></p>
                </div>
              </form>
        </div>
</body>
</html>
